<app-query-parser></app-query-parser>

<table class="table">
  <tr *ngFor="let reservation of reservations">
    <td>{{reservation.id}}</td>
    <td>
      <ul *ngFor="let unit of reservation.unitsReserved">
        <li>{{unit.id}} {{unit.name}} {{unit.price | currency}}</li>
      </ul>
    </td>
  </tr>
</table>

<button class="btn-primary" (click)="addNewReservation()">Press me!</button>
<br />
<input #reservationIdSearchInput (keyup.enter)="getReservation(reservationIdSearchInput.value)" placeholder="Reservation Id" />
<button class="btn-primary" (click)="getReservation(reservationIdSearchInput.value)">Get Reservation</button>
<br />
<input #checkAmountInput (keyup.enter)="getAmountInDestinationCurrency(checkAmountInput.value)" placeholder="{amount} {startCurrency} {destinationCurrency}">
<button class="btn-primary" (click)="getAmountInDestinationCurrency(checkAmountInput.value)">Get Amount in other currency</button>


<router-outlet></router-outlet>
